<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<meta name="robots" content="noindex">
<title>Index me</title>
        <!-- build:css -->
        <link rel="stylesheet" href="../files/css/index.css" type="text/css">
        <!-- endbuild -->
</head>
 <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron">
                        <h1>Index - Hello, world!</h1>
                        <p>Here is index, you are on index.</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- build:js -->
        <script type="text/javascript" charset="utf-8" src="../dist/files/js/index.js"></script>
        <!-- endbuild -->
    </body>
</html>

