<html class="t2">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>Template 2</title>
        <!-- build:css -->
        <link rel="stylesheet" href="../files/css/t2.css" title="" type="text/css">
        <!-- endbuild -->
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron">
                        <h1>Temple 2 - Hello, world!</h1>
                        <p>...</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" src="../dist/files/js/t2.js"></script>
    </body>
</html>
