<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Index</title>
        <!-- build:css -->
        <link rel="stylesheet" href="../files/default/css/views/index.css" type="text/css">
        <!-- endbuild -->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron">
                        <h1>Index - Hello, world2!</h1>
                        <p>Here is index page 3.</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- build:js -->
        <script type="text/javascript" charset="utf-8" src="dist/files/default/js/views/index.js"></script>
        <!-- endbuild -->
    </body>
</html>

